.main-container{

	margin: 20px;
	min-height: 100%;
	overflow: hidden;
}
.subTotal{

	float: right;
}

.totalBill{
	margin-right: 20px;
	
}

.printCancel{

	float: center;
	margin-left: 750px;
}



.clientInformation{
	float:left;   
	width:33%; 
	height:180px;


}

.orderInformation{
	float:left;   
    width:33%; 
    height:180px; 
    text-align: left;

}

.invoiceNumber{
    float:right;  
    width:33%; 
    height:180px; 



}
.invoiceNumber1{
	color: blue;

}
.totalamount{
	color:blue;
}

